{% extends 'layout.html' %}
{%block content%}

<span class="d-block p-2 text-bg-dark">Python Pro Tasks 18</span>
<div class="container text-center">
    <div class="text-bg-warning p-3">
        <div class="row">
            <div class="col align-self-start">
                <h5>http://127.0.0.1:5000/route1 - Поверне '1'</h5>
            </div>
            <div class="col align-self-center">
                <h5>http://127.0.0.1:5000/route2 - Поверне '2'</h5>
            </div>
            <div class="col align-self-end">
                <h5>http://127.0.0.1:5000/route3 - Поверне '3'</h5>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="text-bg-warning p-3">
        <div class="row">
            <div class="col align-self-start">
                <h5>http://127.0.0.1:5000/route4 - Поверне '4'</h5>
            </div>
            <div class="col align-self-center">
                <h5>http://127.0.0.1:5000/route5 - Поверне '5'</h5>
            </div>
            <div class="col align-self-end">
                <h5>http://127.0.0.1:5000 - Стартова сторінка</h5>
            </div>
        </div>
    </div>
</div>

{%endblock%}

